<h1>New transaction was added in <%= @account.name %>!</h1>
<h3>About transation:</h3>
<p>From: <%= @transaction.from_account.name %> </p>
<p>To: <%= @transaction.to_account.name %> </p>
<p>Amount: <%= @transaction.signed_amount(@account) %> </p>
<p>Description: <%= @transaction.description %> </p>
<br>
<p>Current balance: <%= @account.balance %> </p>
