<%= account.name %>
<br>
Account balance: <%= account.balance %>
<br>
<% accounts.each do |account| %>
  <div class="card box ">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <% if account.user_id != current_user.id %>
            <p class="title is-6"><%= "Owner: #{account.user_email}" %></p>
          <% end %>
          <p class="title is-4"><%= link_to account.name, account_path(account) %></p>
          <p class="subtitle is-6"><%= account.balance %></p>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to '+ Add', new_account_topup_path(account), class: 'card-footer-item' %>
      <%= link_to '- Spend', new_account_spend_path(account), class: 'card-footer-item' %>
    </footer>
  </div>
<% end %>
<%= link_to 'add account', new_account_path %>
