<h1>Adding new objective</h1>

<%= form_tag(account_objectives_path(account), method: :post) do |f| %>
  <label>
    Name
    <%= text_field_tag :name %>
  </label>
  <label>
    Amount
    <%= text_field_tag :amount %>
  </label>
  <label>
    Image URL
    <%= text_field_tag :image_url %>
  </label>
  <%= submit_tag 'Add objective' %>
<% end %>
