<footer class="footer for-desktop">
  <p class="has-text-light-gray-budgeting-kid-color">© <%= Time.current.year %>  <%= link_to("WideFix", "https://widefix.com/")%></p>
  <p><%= link_to("Cookie Settings", policy_path(anchor: 'cookies'), class: "footer-link") %></p>
  <p><%= link_to("Privacy Policy", policy_path, class: "footer-link") %></p>
  <p><%= link_to("Term of Service", policy_path(anchor: 'terms'), class: "footer-link") %></p>
</footer>

<% if current_user&.parent? %>
  <footer class="footer for-mobile mb-5 mt-0 pt-3 is-flex-direction-column">
    <p class="has-text-light-gray-budgeting-kid-color">© <%= Time.current.year %>  <%= link_to("WideFix", "https://widefix.com/")%></p>
    <p><%= link_to("Cookie Settings", policy_path(anchor: 'cookies'), class: "footer-link") %></p>
    <p><%= link_to("Privacy Policy", policy_path, class: "footer-link") %></p>
    <p><%= link_to("Term of Service", policy_path(anchor: 'terms'), class: "footer-link") %></p>
  </footer>
  <nav class="navbar-footer is-fixed-bottom is-flex-align-items-flex-end for-mobile">
    <div class="columns is-mobile is-gapless">
      <div class="column">
        <%= button_to my_account_path, method: :get, class:'button is-footer-light is-fullwidth' do %>
          <span class="icon">
            <i class="fa fa-home fa-lg"></i>
          </span>
        <% end %>
      </div>
      <div class="column ">
        <%= button_to new_feedback_path, method: :get, class:'button is-footer-light is-fullwidth' do %>
          <i class="fa fa-comments-o fa-lg"></i>
        <% end %>
      </div>
      <div class="column ">
        <%= button_to edit_user_registration_path, method: :get, class:'button is-footer-light is-fullwidth' do %>
          <i class="fa fa-user-o fa-lg"></i>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>
