<!DOCTYPE html>
<html>
  <head>
    <title>BudgetingKid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%  title = "BudgetingKid - Foster good financial habits in your children"
        description = <<~description
          Empower Kids with Financial Wisdom. Teach, track, and save effortlessly with our app.
          Start their journey to financial literacy now!
          description
    %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="<%= title %>">
    <meta name="description" content="<%= description.squish %>">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://budgetingkid.com/">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description.squish %>">
    <meta property="og:image" itemprop="image" content="<%= image_url 'budgeting_kid_facebook.png'%>">

    <meta property="twitter:card" content='summary_large_image'>
    <meta property="twitter:url" content="http://budgetingkid.com/">
    <meta property="twitter:title" content="<%= title %>">
    <meta property="twitter:description" content="<%= description.squish %>">
    <meta property="twitter:image" content="<%= image_url 'budgeting_kid_twitter.png' %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicons/favicon.ico'%>
    <%= favicon_link_tag 'favicons/favicon.svg'%>

    <% %w(16 32 48 96 144 192 256 384 512 70 150 310).each do |s| %>
      <%= favicon_link_tag "favicons/favicon_#{s}.png",sizes: "#{s}x#{s}" %>
    <% end %>

    <% %w(32 76 120 152 167 180).each do |s| %>
      <%= favicon_link_tag "favicons/favicon_#{s}.png",sizes: "#{s}x#{s}", rel: 'apple-touch-icon', type: 'image/png' %>
    <% end %>
  </head>

  <body>
    <div class="container hero is-fullheight">
      <nav class="navbar is-spaced is-navbar-white-color has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= link_to root_path, class: "navbar-item" do %>
            <%= image_tag 'logo.svg', width: 70, height: 40 %>
            <H2 class='budgeting-kid-logo-font' > BUDGETINGkid </H2>
          <% end %>
          <a role="button is-primary" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if user_signed_in? %>
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="button is-primary for-desktop">
                      <span class="icon">
                        <i class="fa fa-user-circle fa-lg"></i>
                      </span>
                    </a>
                    <div class="navbar-dropdown is-right is-boxed">
                      <%= link_to edit_user_registration_path, class: "navbar-item"  do %>
                        <span class="icon">
                          <i class="fa fa-user-o"></i>
                        </span>
                        &nbsp;
                        My profile
                      <% end %>
                      <%= link_to new_feedback_path, class: "navbar-item" do %>
                        <span class="icon">
                          <i class="fa fa-comment-o"></i>
                        </span>
                        &nbsp;
                        Feedback
                      <% end %>
                      <hr class="navbar-divider">
                      <%= link_to destroy_user_session_path, method: :delete, class:"navbar-item" do %>
                        <span class="icon">
                          <i class="fa fa-sign-out"></i>
                        </span>
                        &nbsp;
                        Log out
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary' %>
                  <%= link_to 'Log in', new_user_session_path, class: 'button is-light' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section class="section is-fullheight">
        <%= yield %>
      </section>

      <footer class="footer is-flex-align-items-flex-end mt-auto">
        <p> Copyright © <%= Time.current.year %> <%= link_to("WideFix", "https://widefix.com/")%>. All rights reserved. </p>
      </footer>

      <nav class="navbar-footer is-fixed-bottom is-flex-align-items-flex-end for-mobile">
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <%= button_to my_account_path, method: :get, class:'button is-footer-light is-fullwidth' do %>
              <span class="icon">
                <i class="fa fa-home fa-lg"></i>
              </span>
            <% end %>
          </div>
          <div class="column ">
            <%= button_to new_feedback_path, method: :get, class:'button is-footer-light is-fullwidth' do %>
              <i class="fa fa-comments-o fa-lg"></i>
            <% end %>
          </div>
          <div class="column ">
            <%= button_to edit_user_registration_path, method: :get, class:'button is-footer-light is-fullwidth' do %>
              <i class="fa fa-user-o fa-lg"></i>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
