<!DOCTYPE html>
<html>
  <head>
    <title>Pocketmoney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <%= link_to 'Pocketmoney', root_path %>
            </div>
            <div class="level-item">
              <%= link_to('my account', my_account_path) %>
            </div>
          </div>
          <div class="level-right">
            <p class="level-item">
              <% if user_signed_in? %>
                <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'button is-light' %>
              <% else %>
                <%= link_to 'login/register', new_user_session_path, class: 'button is-primary' %>
              <% end %>
            </p>
          </div>
        </nav>
      </div>
    </header>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        Copyright © 2021 WideFix. All rights reserved.
      </div>
    </footer>
  </body>
</html>
