<!DOCTYPE html>
<html>
  <head>
    <title>Pocketmoney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'home', root_path %>
      <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'login/register', new_user_session_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
