<h1><%= account.name %></h1>

Balance: <%= account.balance %>

<%= link_to '+', new_account_topup_path(account) %>

<%= link_to '-', new_account_spend_path(account) %>

<div>Incomes:</div>

<%= render partial: 'transaction', collection: account.income_transactions %>

<hr>
<div>Outcomes:</div>

<%= render partial: 'transaction', collection: account.outcome_transactions %>

<hr>
<div>Weekly Automatic Topups:</div>

<% account.automatic_topup_configs.each do |config| %>
  <div>
    <div>Amount: <%= config.amount %></div>
    <div>From Account: <%= config.from_account.name %></div>
  </div>
<% end %>

<%= link_to '+ Add', new_account_account_automatic_topup_config_path(account) %>
