<h1><%= account.name %></h1>

Balance: <%= account.balance %>

<%= link_to '+', new_account_topup_path(account) %>

<%= link_to '-', new_account_spend_path(account) %>

<div>Incomes:</div>

<%= render partial: 'transaction', collection: account.income_transactions %>

<div>Outcomes:</div>

<%= render partial: 'transaction', collection: account.outcome_transactions %>
