<h1><%= account %></h1>

<% stats = Account.new(account) %>

Balance: <%= stats.balance %>

<%= link_to '+', new_account_topup_path(account) %>

<%= link_to '-', new_account_spend_path(account) %>

<div>Incomes:</div>

<%= render partial: 'transaction', collection: stats.income_transactions %>

<div>Outcomes:</div>

<%= render partial: 'transaction', collection: stats.outcome_transactions %>
