<h1><%= account %></h1>

<% stats = Account.new(account) %>

Balance: <%= stats.balance %>

<%= link_to '+', new_account_topup_path(account) %>

<%= link_to '-', new_account_spend_path(account) %>

<div>Incomes:</div>
<% stats.income_transactions.each do |transaction| %>
  <div><%= transaction.to_s %></div>
<% end %>

<div>Outcomes:</div>

<% stats.outcome_transactions.each do |transaction| %>
  <div><%= transaction.to_s %></div>
<% end %>
